{% extends 'base.html' %}

{% block content %}
    <style>
            #myProgress {
              width: 100%;
              background-color: #ddd;
              display: none;
            }
            
            #myBar {
              width: 1%;
              height: 30px;
              background-color: #a7a7a7;
            }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <div id="app" v-on:keypress.enter.prevent="check_answer">
        <h2>{{ list.name }}</h2>
        <br>
        <p>Questions left: [[ questions.length + stats.wrong_answers_count ]] (<span><i class="fas fa-check-circle"></i> [[ stats.correct_answers_count]]</span> | <span><i class="fas fa-times-circle"></i> [[ stats.wrong_answers_count ]]</span>)</p>
        <h4 id="question_text">Question:</h4>
        <h1>[[ current_question ]]</h1>
        <h4><span v-bind:style="{ color: result_color }">[[ result ]]</span></h4>
        <h6>[[ correct_answer ]]</h6>
        <h4 style="display: none;">Correct answer: [[ current_answer ]]</h4>
        <input type="text" v-model="input_answer" autofocus>
        <div id="myProgress">
            <div id="myBar"></div>
        </div>
        <button v-on:click="check_answer">Check</button>
    </div>

    <script>

        let options = {
            colors: {
                green: "#007410",
                red: "#7b0100",
                yellow: "#be9914"
            }
        };
        
        let app = new Vue({
            el: "#app",
            delimiters: ["[[", "]]"],
            data: {
                stats: {
                    correct_answers_count: 0,
                    wrong_answers_count: 0,
                    wrong_answers: []                    
                },
                questions: [
                    {% for question in questions %}
                        {
                            question: "{{ question.question|safe }}",
                            answer: "{{ question.answer|safe }}"
                        },
                    {% endfor %}
                ],
                current_question: "Question",
                current_answer: "Answer",
                input_answer: "",
                result: "",
                result_color: options.colors.green,
                correct_answer: ""
            },
            methods : {
                check_answer: function (event) {
                    if (this.input_answer === this.current_answer) {
                        this.stats.correct_answers_count++;
                        this.result_color = options.colors.green
                        this.result = "Correct!"
                    } else {
                        this.stats.wrong_answers_count++;
                        this.questions.splice(2, 0, {
                            question: this.current_question,
                            answer: this.current_answer
                        })
                        this.stats.wrong_answers.push({
                            question: this.current_question,
                            answer: this.current_answer
                        })
                        this.result_color = options.colors.red
                        this.result = "Wrong!"
                        this.correct_answer = "Correct answer: " + this.current_answer
                    }
                    move_status_bar();
                    this.input_answer = ""
                }
            },
        });

        function shuffle(a) {
            for (let i = a.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [a[i], a[j]] = [a[j], a[i]];
            }
            return a;
        }
        
        app.questions = shuffle(app.questions)

        function get_question (){
            if (app.questions.length > 0){
                current = app.questions.shift();
                app.current_question = current.question
                app.current_answer = current.answer
            } else if (app.stats.wrong_answers.length > 0){
                app.questions = [...app.stats.wrong_answers]
                app.stats.wrong_answers = []
            }
        }

        function move_status_bar(){
            let elem = document.getElementById("myBar")
            document.getElementById("myProgress").style.display = "block"
            let width = 1
            let id = setInterval(frame, 1);
            function frame() {
                if (width >= 100) {
                clearInterval(id)
                } else {
                width++; 
                elem.style.width = width + '%';
                }
            }
            setTimeout(function(){
                document.getElementById("myProgress").style.display = "none"
                if (app.questions.length + app.stats.wrong_answers.length === 0){
                    window.location.reload()
                } else {
                    get_question()
                }
                app.result = ""
                app.correct_answer = ""
            }, 1000)
        }

        get_question();
    </script>

{% endblock %}