{% extends 'base.html' %}

{% load static %}

{% block content %}

    <h2>Test</h2>
    <br>
    <h5>Question:</h5>
    <h1><span id="question"></span></h1>
    <h4 id="question_result"><span id="answer_indicator"></span></h4>
    <h2 id="wrong_answer">Correct answer: <i><span id="correct_answer"></span></i></h2>
    <input id="input_box" type="text" placeholder="Input text here" size="50"><br>
    <button onclick="check()">Enter</button>
    <script>
    questions = [
      {% for question in questions %}
        {
            question: "{{ question.question }}",
            answer: "{{ question.answer }}"
        },
      {% endfor %}

    ]

    let csrf_token = '{{ csrf_token }}';
    </script>
    <script src="{% static "js/test_module.js" %}"></script>
{% endblock %}