@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body{
    margin: 0;
    padding: 0;
}

*{
    font-family: 'Montserrat', sans-serif;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-item {
    float: left;
}

.nav-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-item a:hover {
  background-color: #111;
}

#title{
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    margin: 0;
    background-color: #333;
    color: #fff;
}

.content{
    padding: 15px;
}

input[type=text], input[type=password], input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  /*border-radius: 4px;*/
  box-sizing: border-box;
  width: 100%;
}

input[type=submit], button {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  /*border-radius: 4px;*/
  cursor: pointer;
}

input[type=submit]:hover, button:hover {
  background-color: #111;
}

table{
    width: 100%;
    vertical-align: top;
    text-align: left;
    border-spacing: 0;
    border-collapse: collapse;
}

td{
    width: auto;
}

.delete_list{
    color: red;
}

.test_list{
    color: #2b39ff;
}

.delete_list:hover{
    color: #b20000;
}

.test_list:hover{
    color: #0814ff;
}

.test_list, .delete_list{
    font-size: 30px;
}

#table_header{
    background-color: #333;
    color: white;
    width: 100%;
    margin: 0;
    font-weight: bold;
}

td{
    margin: 0;
    padding: 10px;
}

.link_button:link, .link_button:visited {
  background-color: #333;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.link_button:hover, .link_button:active {
  background-color: #111;
}

h2{
    font-weight: bold;
}

#add_inputs_c{
    background-color: #007410;
}

#remove_inputs_c{
    background-color: #7b0100;
}

#remove_inputs_c,#add_inputs_c{
    font-weight: bolder;
}

#question_result, #wrong_answer{
    display: none;
}