{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    {% if settings_lang == 0 %}
        <h2>Profile</h2>
  <h3>User data</h3>
  <h4><a class="link_button" href="/user/profile/edit">Edit</a></h4>
  <table>
  <tr>
  <td>
  Username:
</td>
<td>{{ user.username }}</td>
</tr>
  <tr>
  <td>
  First Name:
</td>
<td>{{ user.first_name }}</td>
</tr>
  <tr>
  <td>
  Last Name:
</td>
<td>{{ user.last_name }}</td>
</tr>
  <tr>
  <td>
  E-Mail:
</td>
<td>{{ user.email }}</td>
</tr>
</table>
<h3>Stats</h3>
{% elif settings_lang == 1 %}
        <h2>Profiel</h2>
  <h3>Gegevens</h3>
  <h4><a class="link_button" href="/user/profile/edit">Bewerken</a></h4>
  <table>
  <tr>
  <td>
  Username:
</td>
<td>{{ user.username }}</td>
</tr>
  <tr>
  <td>
  Voornaam:
</td>
<td>{{ user.first_name }}</td>
</tr>
  <tr>
  <td>
  Achternaam:
</td>
<td>{{ user.last_name }}</td>
</tr>
  <tr>
  <td>
  E-Mail:
</td>
<td>{{ user.email }}</td>
</tr>
</table>
<h3>Statistiek</h3>
{% endif %}

<div id="results">
<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'grades')">Grades</button>
  <button class="tablinks" onclick="openTab(event, 'speed')">Speed</button>
  <button class="tablinks" onclick="openTab(event, 'difficult_q')">Difficult Questions</button>
</div>

<div id="grades" class="tabcontent">
    {% include "app/applets/result_graph_grade.html" %}
</div>

<div id="speed" class="tabcontent">
    {% include "app/applets/result_graph_speed.html" %}
</div>

<div id="difficult_q" class="tabcontent">
    {% include "app/applets/result_graph_difficult_q.html" %}
</div>

</div>

<script>
    function openTab(evt, tabTitle) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(tabTitle).style.display = "block";
      evt.currentTarget.className += " active";
    }

    openTab(null, 'grades')
</script>

{% endblock %}