{% load static %}

<!doctype html>
<html id="html" lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if settings_lang == 0 %}
        <title>Learn IT - English</title>
    {% elif settings_lang == 1 %}
        <title>Learn IT - Nederlands</title>
    {% else %}
        <title>Learn IT</title>
    {% endif %}

    {#    {% if settings_theme == 0 %}#}
    <link rel="stylesheet" href="{% static "css/style_light.css" %}">
    {% if settings_theme == 1 %}
        <link rel="stylesheet" href="{% static "css/style_dark.css" %}">
    {% endif %}

    <script src="{% static "js/main.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js?load=true"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
<div class="wrapper">
    <div class="header">
        <h1 onclick="go_home()" id="title">Learn It</h1>

        {% if settings_lang == 1 %}
            <nav>
                <li class="nav-item"><a href="javascript:go_home()">Home</a></li>
                <li class="nav-item"><a href="javascript:processAjaxData( '/app/lists/')">Lijsten</a></li>
                <li class="nav-item"><a href="javascript:processAjaxData('/app/experimental/quick_learn')">Snel
                    leren</a></li>
                <li class="nav-item"><a href="#">WIKI Lijsten</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a href="javascript:processAjaxData('/user/profile/')">Mijn profiel</a></li>
                    <li class="nav-item"><a href="javascript:processAjaxData('/logout/')">Uitloggen</a></li>
                {% else %}
                    <li class="nav-item"><a href="javascript:processAjaxData('/login/')">Inloggen</a></li>
                    <li class="nav-item"><a href="javascript:processAjaxData('/register/')">Aanmelden</a></li>
                {% endif %}
            </nav>
        {% else %}
            <nav>
                <li class="nav-item"><a href="javascript:go_home()">Home</a></li>
                <li class="nav-item"><a href="javascript:processAjaxData('/app/lists/')">Lists</a></li>
                <li class="nav-item"><a href="javascript:processAjaxData('/app/experimental/quick_learn')">Quick
                    learn</a></li>
                <li class="nav-item"><a href="#">WIKI Lists</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a href="javascript:processAjaxData('/user/profile/')">My profile</a></li>
                    <li class="nav-item logout"><a class="logout" href="javascript:processAjaxData('/logout/')">Log
                        out</a></li>
                {% else %}
                    <li class="nav-item"><a href="javascript:processAjaxData('/login/')">Log in</a></li>
                    <li class="nav-item"><a href="javascript:processAjaxData('/register/')">Register</a></li>
                {% endif %}
            </nav>
        {% endif %}
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <script>
        function go_home() {
            processAjaxData("/app/home")
        }
    </script>
</div>
</body>
</html>